@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

// Variable
:root {
  --primary-color: #fe2c55;
  --header-height: 60px;
  --layout-default-width: 1150px;
  --color-text: rgb(22, 24, 35);
  --white-color: #fff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--color-text);
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
a[href] {
  color: var(--color-text);
  text-decoration: none;
}
img {
  display: inline-block;
  max-width: 100%;
}
